


/*
    \\nav
*/
.nav {
    padding: 25px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .1);
}

/*
    \\HEADER
*/
.header {
    background-color: var(#ffffff);
}

.header__photos {
    max-width: 792px;
    width: 80%;
    align-self: center;
}
.header__content {
    padding: 40px var(--CONTENT-MARGIN);
    display: flex;
    flex-direction: column;
}
.header__text-box {
    width: 480px
}
.header__title {
    font-size: 3em;
    margin-top: 40px;
}
.header__text {
    margin-top: 20px;
    font-size: 1.3em;
}
/*
    \\CARDS
*/
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

@media (min-width: 890px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav {
        align-self: stretch;
    }


}

